@page "/profile"

@using MyApplication.Data;
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@inject IJSRuntime JSRuntime
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<p>
    @if (authenticationState.User.Identity.IsAuthenticated)
    {
        <span>Welcome, @authenticationState.User.Identity.Name</span>
    }
    else
    {
        <span>You are not logged in.</span>
    }
</p>
<button @onclick="LogOut">Log Out</button>

@code {
    private AuthenticationState authenticationState;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

    private async Task LogOut()
    {
        // Sign out the user using Identity's SignInManager
        await SignInManager.SignOutAsync();
        
        // Redirect to the home page or another page after logout
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}
