@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="nav-link text-dark" id="register" asp-area="Identity" href="Identity/Account/Register">Register</a>
            <a class="nav-link text-dark" id="login" asp-area="Identity" href="Identity/Account/Login">Login</a>
        </div>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
